{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>

    <table class="fitbit-table" style="width:33%" >
        <thead>
            <tr>
                <th>Date</th>
                <th>Step Count</th>
                <th>Calories</th>
            </tr>
        </thead>
    {% for workout in workouts %}
        <tr>
            <td>{{workout.date}}</td>
            <td>{{workout.steps}}</td>
            <td>{{workout.calories}}</td>
        </tr>
    {% endfor %}

     </table>

{% endblock %}